/* BACKGOUND COLORS DEFINITION */
/* Pour body */
$bgColor:#efeff0;


/* --- General --- */
header{
    overflow: hidden;
}


img {
    vertical-align: inherit;
    max-width: 100%;
    max-height: 100%;
}

.bg-body{
    background-color: $bgColor;
}

.information{
    margin-left: 33%;
}
// Google Maps
.map {
    height: 400px;
    width: 100%;
    margin-top: 20px;
}

.bg-gray {
    background-color: #e5e5e5;
    margin-bottom: 40px;
}

.bg-white{
   background-color: #FFFFFF;
}
.bordered {
        border-right: solid 6px $bgColor;
    }
h2 {
        margin: 0;
        margin-top: 65px;
        margin-bottom: 65px;
        padding-bottom: 25px;
        position: relative;
        text-align: center;

        &:after {
            background-color: #575757;
            bottom: 0;
            content: " ";
            height: 3px;
            left: 0;
            margin: auto;
            position: absolute;
            right: 0;
            text-align: center;
            width: 40px;
        }
    }

// bouton du gestion des membres et des admins

.position {
    display: inline-block;
}


/* --- ACCUEIL --- */

#pub-home {
    padding-top: 15px;

    .row {
        padding-left: 15px;
        padding-right: 15px;

        [class^="col-"] {
            padding: 15px;

            &.special-col {
                padding: 0;
            }
        }

        &.secon-row {
            padding-left: 0;
            padding-right: 0;
            padding-top: 15px;
        }

        &.special-row {
            padding: 0 15px;
        }
    }

    .single-pub {
        display: block;
        height: 400px;
        position: relative;
        width: 100%;

        .pub-title {
            color: white;
            margin: 0;
            text-align: center;
            width: 100%;
            z-index: 3;
            @extend %abscenter;
        }

        &:after {
            background-color: black;
            content: " ";
            left: 0;
            height: 100%;
            opacity: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 2;
            @include transit(0.6s);
        }

        &:hover, &:active, &:focus {
            &:after {
                opacity: 0.8;
            }
        }
    }

    #pub-1 {
        background: url('../images/accueil/pubs/pub1.jpg') center center/cover no-repeat;
    }

    #pub-2 {
        background: url('../images/accueil/pubs/pub2.jpg') center center/cover no-repeat;
    }

}



/*#about-home, #footer-member, #thanks {
    h2 {
        margin: 0;
        margin-bottom: 25px;
        padding-bottom: 25px;
        position: relative;
        text-align: center;

        &:after {
            background-color: #575757;
            bottom: 0;
            content: " ";
            height: 3px;
            left: 0;
            margin: auto;
            position: absolute;
            right: 0;
            text-align: center;
            width: 40px;
        }
    }
}*/

#about-home {

    .container-fluid {
        padding: 0 45px;
    }

    .row {

        [class^="col-"] {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .bordered{
        border-bottom: solid 12px $bgColor;
        min-height: 700px;
    }
    .text-container {
        padding: 75px 0;
    }

    p {
        margin: auto;
        max-width: 595px;
        text-align: justify;
        font-size:16px;
        line-height: 20px;
    }
}

#pub-home{
    p{
        margin: auto;
        max-width: 595px;
        text-align: justify;
        font-size:16px;
        line-height: 20px;
    }
}

/* --- CONATACTER NOUS --- */

#contacterNous{
    .title-container{
        margin-bottom: 60px;
        h4 {
            text-align: center;
        }
    }

    button{
        margin-bottom: 40px;
    }
}

/* --- A propos --- */

#apropos{
    h4{
        text-align: center;
        margin-bottom: 20px;
    }
    p{
       text-align: justify;
       margin: auto;
       font-size:16px;
       line-height: 20px;
    }
    .cols{
        height: 510px;
        margin-bottom: 40px;
    }
}

/*---- LOCATION VOITURE PARTIE CLIENT ----*/

#voitures{
    .blocksDisplayVeh{
        background-color: white;
        border-bottom: solid 20px $bgColor;
        img{
            max-width: 365px;
            max-height: 225px;
            float: left;
            padding: 15px;
        }
        .desc-container{
            padding: 10px;

            p{
                text-align: justify;
                font-size: 10pt;
                line-height: 140%;

            }
        }
        .btn-reserver{
            margin-bottom: 20px;
            width: 100px;
            height: 70px;
        }
        .prix{
                margin-left: 210px;
                color: greenyellow;
                }
    }
}

/* --- DEVENIR MEMBRE ---*/

/*.badgebox {
  opacity: 0;
  + .badge {
     Move the check mark away when unchecked
    text-indent: -999999px;
     Makes the badge's width stay the same checked and unchecked
    width: 27px;
  }
  &:focus + .badge {
     Set something to make the badge looks focused
     This really depends on the application, in my case it was:
     Adding a light border
    box-shadow: inset 0px 0px 5px;
     Taking the difference out of the padding
  }
  &:checked + .badge {
     Move the check mark back when checked
    text-indent: 0;
  }
}*/

/*Radio buttons*/

label {
  &.btn span {
    font-size: 1.5em;
  }
  input[type="radio"] {
    ~ i.fa {
      &.fa-circle-o {
        color: #c8c8c8;
        display: inline;
      }
      &.fa-dot-circle-o {
        display: none;
      }
    }
    &:checked ~ i.fa {
      &.fa-circle-o {
        display: none;
      }
      &.fa-dot-circle-o {
        color: #7AA3CC;
        display: inline;
      }
    }
  }
  &:hover input[type="radio"] ~ i.fa {
    color: #7AA3CC;
  }
  input[type="checkbox"] {
    ~ i.fa {
      &.fa-square-o {
        color: #c8c8c8;
        display: inline;
      }
      &.fa-check-square-o {
        display: none;
      }
    }
    &:checked ~ i.fa {
      &.fa-square-o {
        display: none;
      }
      &.fa-check-square-o {
        color: #7AA3CC;
        display: inline;
      }
    }
  }
  &:hover input[type="checkbox"] ~ i.fa {
    color: #7AA3CC;
  }
}

div[data-toggle="buttons"] label {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 10px;
  font-weight: normal;
  line-height: 2em;
  text-align: left;
  white-space: nowrap;
  vertical-align: top;
  cursor: pointer;
  background-color: none;
  border: 0px solid #c8c8c8;
  border-radius: 3px;
  color: #c8c8c8;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  &.active, &:hover {
    color: #7AA3CC;
  }
  &:active, &.active {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.gender {
  visibility: hidden;
  display: none;
}

/*-------- LES PAGES DES MEMBRES --------*/
table {
  margin: 0 auto;
  border: none;
  width: 75%;
}

tr {
  background-color: #974952;
}

th, td {
  text-align: center;
  color: #ffffff;
  max-width: 80px;
  height: 40px;
  overflow: hidden;
  font-size: 16px;
}

th:first-child, td:first-child {
  max-width: 25px;
}

th:last-child, td:last-child {
  max-width: 50px;
}

th {
  /*border-radius: 15px 15px 0  0;*/
  &:first-child {
    border-radius: 15px 0 0 0;
  }
  &:last-child {
    border-radius: 0 15px 0 0;
  }
}

td {
  border: 1px solid gray;
  background-color: black;
  color: #dddddd;
}

th.date, td.date {
  min-width: 150px;
}

.btn {
  background-color: #974952;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  text-align: center;
}

.btn-liens {
  position: relative;
  width: auto;
  margin: 25px 0px;
}

// Le bouton de chaque ligne
.btn-inline {
    max-width: 40px;
    max-height: 40px
}

/* Boutons d'accepter et refuser */
.btn-accepter {
    color: green;
    font-size: 26px;
}
.btn-refuser {
    color: red;
    font-size: 26px;
}
.btn-accepter, .btn-refuser:hover {
    cursor: pointer;
}

.fa {
    color: white;
    font-size: 26px;
}

span {
  padding: 5px;
  padding-right: 15px;
}

#B_affichage, #B_affichage_3_menu {
  margin-top: 30px;
}

form {
  label, select, input {
    font-size: 20px;
    /*margin: 15px;*/
    /*line-height: 10px;*/
  }
}

@media screen and (max-width: 680px) {
  .container, table, .btn-liens {
    width: 100%;
    margin: 5px;
  }
}

@media screen and (max-width: 540px) {
  th, td {
    font-size: 12px;
  }
  .btn {
    width: 100%;
  }
}

/*----- ADMIN ---*/
.titre_editable {
	background-color: #974952;
}



/*************************/
/*  FORM MEMBRE - ANDRIY */
/*************************/

/*Payment*/
/* Hiding the checkbox, but allowing it to be focused */

.badgebox{
    opacity: 0;
}


.badgebox + .badge{
    /* Move the check mark away when unchecked */
    text-indent: -999999px;
    /* Makes the badge's width stay the same checked and unchecked */
    width: 27px;
}

.badgebox:focus + .badge{
    /* Set something to make the badge looks focused */
    /* This really depends on the application, in my case it was: */

    /* Adding a light border */
    box-shadow: inset 0px 0px 5px;
    /* Taking the difference out of the padding */
}

.badgebox:checked + .badge{
    /* Move the check mark back when checked */
    text-indent: 0;
}


/*Radio buttons*/

label.btn span {
    font-size: 1.5em ;
}

label input[type="radio"] ~ i.fa.fa-circle-o{
    color: #c8c8c8;    display: inline;
}
label input[type="radio"] ~ i.fa.fa-dot-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-dot-circle-o{
    color: #7AA3CC;    display: inline;
}
label:hover input[type="radio"] ~ i.fa {
    color: #7AA3CC;
}

label input[type="checkbox"] ~ i.fa.fa-square-o{
    color: #c8c8c8;    display: inline;
}
label input[type="checkbox"] ~ i.fa.fa-check-square-o{
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-square-o{
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-check-square-o{
    color: #7AA3CC;    display: inline;
}
label:hover input[type="checkbox"] ~ i.fa {
    color: #7AA3CC;
}

.gender{
    visibility:hidden;
    display:none;
}

/*************************/
/* FORM VOITURE - ANDRIY */
/*************************/

/*Radio buttons*/

label.btn span {
    font-size: 1.5em ;
}

label input[type="radio"] ~ i.fa.fa-circle-o{
    color: #c8c8c8;    display: inline;
}
label input[type="radio"] ~ i.fa.fa-dot-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-dot-circle-o{
    color: #7AA3CC;    display: inline;
}
label:hover input[type="radio"] ~ i.fa {
    color: #7AA3CC;
}

/*formulaire location*/

.form-style-10 {
  width: 81%;
  padding: 30px;
  margin: 40px auto;
  background: #FFF;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
  .inner-wrap {
    width: 100%;
    padding: 30px;
    background: #F8F8F8;
    border-radius: 6px;
    margin-bottom: 15px;
  }
  h3 {
    background: #AF0000;
    padding: 20px 30px 15px 30px;
    margin: -30px -30px 30px -30px;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 30px 'Bitter', serif;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid #257C9E;
    > span {
      display: block;
      margin-top: 2px;
      font: 13px Arial, Helvetica, sans-serif;
    }
  }
  label {
    display: block;
    font: 13px Arial, Helvetica, sans-serif;
    color: #888;
    margin-bottom: 15px;
  }
  input {
    &[type="text"], &[type="date"], &[type="datetime"], &[type="email"], &[type="number"], &[type="search"], &[type="time"], &[type="url"], &[type="password"] {
      display: block;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 100%;
      padding: 8px;
      border-radius: 6px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border: 2px solid #fff;
      box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
      -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
      -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    }
  }
  textarea, select {
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border: 2px solid #fff;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
  }
  .section {
    font: normal 20px 'Bitter', serif;
    color: #AF0000;
    margin-bottom: 10px;
    span {
      background: #AF0000;
      padding: 5px 10px 5px 10px;
      position: absolute;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border: 4px solid #fff;
      font-size: 14px;
      margin-left: -45px;
      color: #fff;
      margin-top: -3px;
    }
  }
  input {
    &[type="button"], &[type="submit"] {
      background: #2A88AD;
      padding: 8px 20px 8px 20px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      color: #fff;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
      font: normal 30px 'Bitter', serif;
      -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
      -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
      box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
      border: 1px solid #257C9E;
      font-size: 15px;
    }
    &[type="button"]:hover, &[type="submit"]:hover {
      background: #2A6881;
      -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
      -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
      box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    }
  }
  .privacy-policy {
    float: right;
    width: 250px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #4D4D4D;
    margin-top: 10px;
    text-align: right;
  }
}

#part2, #part3 {
  padding: 50px;
  display: none;
}

/*button edite User in form location*/

  .editPersonInfo{
        height: 60px;
        width: 60px;
        float: right;
        background-color: orange;
        border-radius: 25%;

    }

    #editPersonIcon{
        margin-left: 15px;
        margin-top: 12px;
    }

/*2-em part de form payement*/

#myForm2 {
  display: none;
}
