#footer-member {
    background: url('../images/footer/bg_member.jpg') center center/cover no-repeat;
    display: none;
    padding: 80px 0;

    h2, p, .btn {
        color: white;
    }

    h2 {
        &:after {
            background-color: white;
        }
    }

    p {
        margin: auto;
        margin-bottom: 30px;
        max-width: 595px;
        text-align: justify;
    }

    .btn {
        &:hover, &:active, &:focus {
            background-color: white;
            color: black;
        }
    }
}

.subpages {
    #footer-member {
        display: block;
    }
}

.devenir-membre,.membre,.listeAdmin {
    #footer-member {
        display: none;
    }
}

footer {
    background: url('../images/footer/bg_footer.jpg') center center/cover no-repeat;
    padding:  110px 0 120px;
    @extend %flexcolumns;

    .icon-container {
        margin: auto;

        .single-icon {
            display: inline-block;
            height: 45px;
            margin: 0 8px;
            position: relative;
            text-align: center;
            width: 45px;

            i {
                color: white;
                font-size: 24px;
                @extend %abscenter;
            }
        }

        #fb {
            background-color: #3b5998;
        }

        #instagram {
            background-color: #c32aa3;
        }

        #twitter {
            background-color: #00b6f1;
        }
    }

    .flex-container {
        margin: auto;
    }

    .list-container {
        display: inline-block;
        margin: 0 38px;
        vertical-align: top;

        ul {
            margin: 0;

            li {
                display: block;
                margin-bottom: 10px;

                a {
                    color: white;
                    font-size: 14px;
                    font-weight: bold;
                }

                &.sublist-container {

                    .sublist {
                        padding-left: 20px;
                        padding-top: 10px;

                        li {
                            display: block;
                            margin: auto;

                            a {
                                font-weight: 300;
                            }
                        }
                    }
                }
            }
        }
    }

    .text-container {
        margin: auto;
        text-align: right;

        p, a, h4 {
            color: white;
        }

        h4 {
            font-size: 14px;
            margin: 0;
            margin-bottom: 25px;

            a {
                padding: 0 5px;
            }
        }

        p {
            font-size: 10px;
            margin-bottom: 0;
            text-transform: uppercase;
        }
    }
}
