header{
    background: url('../images/header/bg_header.jpg') center center/cover no-repeat;
    height: 95%;
    //overflow: hidden;
    padding-top: 35px;
    position: relative;

    /* --- MENU --- */

    @import "menu";

    .menu-container {
        width: 100%;
    }

    nav {
        .menu {
            li {
                &.no-margin {
                    margin: 0;
                }
                &.active{
                         text-decoration: underline;
                }
            }
        }
    }

    /* --- END MENU --- */

    .logo-container {
        width: 100%;

        .standard-logo {
            max-width: 180px;
        }

        .subpages-logo {
            display: none;
            max-width: 180px;
        }
    }

    .slogan-container {
        @extend %abscenter;

        img {
            margin-bottom: 60px;
            max-width: 795px;
        }

        #logo-welcome {
            display: none;
        }
    }

    #defile-link {
        bottom: 120px;
        font-size: 15px;
        font-weight: bold;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        text-align: center;

        a {
            color: white;
        }
    }
}

#subpages-hero {
    display: none;
}

.subpages {
    header {
        background: white;
        border-bottom: solid 5px black;
        height: auto;
        padding: 22px 0;
        overflow: visible;
        @extend %flexcolumns;

        .standard-logo, .slogan-container, #defile-link {
            display: none;
        }

        .subpages-logo {
            display: inherit;
        }

        nav {
            .menu {
                padding-top: 0;

                li {
                    a {
                        color: black;
                    }
                    &.active{
                         text-decoration: underline;
                    }
                }
            }
        }
    }

    #subpages-hero {
        display: block;
        height: 380px;
        position: relative;

        img {
            display: none;
            max-width: 655px;
            @extend %abscenter;
        }
    }

    &.apropos {
        #subpages-hero {
            background: url('../images/apropos/bg_historique1.jpg') center center/cover no-repeat;
        }

        #slogan-apropos {
            display: block;
        }
    }
    
    &.contacternous {
        #subpages-hero {
            background: url('../images/apropos/bg_historique1.jpg') center center/cover no-repeat;
        }

        #slogan-contacter-nous {
            display: block;
        }
    }
    
    &.messagerie {
        #subpages-hero {
            background: url('../images/messagerie/bg_messagerie.jpg') center center/cover no-repeat;
        }

        #slogan-messagerie {
            display: block;
        }
    }

    &.voitures {
        #subpages-hero {
            background: url('../images/voitures/bg_voitures2.jpg') center center/cover no-repeat;
        }

        #slogan-voiture {
            display: block;
        }
    }
 

    &.devenir-membre {
        #subpages-hero {
            background: url('../images/devenir-membre/bg_devenir_membre.jpg') center center/cover no-repeat;
        }

        #slogan-devenir-membre {
            display: block;
        }
    }
    
    &.login {
        #subpages-hero {
            background: url('../images/connect/bg_login.jpg') center center/cover no-repeat;
        }

        #slogan-login {
            display: block;
        }
    }
    
    &.membre {
        #subpages-hero {
            background: url('../images/membre/bg_membre.jpg') center center/cover no-repeat;
        }

        #slogan-membre {
            display: block;
        }
    }


    &.listeAdmin {
        #subpages-hero {
            background: url('../images/admin/bg_admin.jpg') center center/cover no-repeat;
        }

        #slogan-admin {
            display: block;
        }
    }
}

/* --- PAGE WELCOME --- */

.welcome {
    header {
        .slogan-container {
            #logo-accueil {
                display: none;
            }

            #logo-welcome {
                display: block;
            }
        }
    }
}

#slider-header {
    display: none;
    height: 500px;
    position: relative;

    .slogan-container {
        @extend %abscenter;

        img {
            max-width: 595px;
        }
    }
}

#mycarousel {
    .item {
        height: 100%;
        width: 100%;
    }

    #slide-1 {
        background: url(../images/evenements/slide1.jpg) no-repeat center center/cover;
    }

    #slide-2 {
        background: url(../images/evenements/slide1.jpg) no-repeat center center/cover;
    }

    #slide-3 {
        background: url(../images/evenements/slide1.jpg) no-repeat center center/cover;
    }

    #slide-4 {
        background: url(../images/evenements/slide1.jpg) no-repeat center center/cover;
    }
}

.evenements {
    #slider-header {
        display: block;
    }

    #subpages-hero {
        display: none;
    }
}

#close-side-menu {
    background-color: transparent;
    border: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    height: auto;
    letter-spacing: 1px;
    position: static;
    padding-top: 25px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    @include transit(.6s);

    &:active, &:hover, &:focus {
        color: $mainColor;
        outline: none;
    }
}

#open-side-menu {
    background: transparent;
    border: none;
    color: white;
    display: block;
    font-size: 24px;
    font-weight: bold;
    margin: auto;
    z-index: 2;

    &:active, &:focus, &:hover {
        color: $mainColor;
        outline: none;
    }
}

.subpages {
    #open-side-menu {
        color: black;
    }
}