RewriteEngine On

RewriteRule "^assets/(.*)$" "assets/$1" [QSA,L]

RewriteRule "^login/?$" "index.php/acces/login" [QSA,L]
RewriteRule "^logout/?$" "index.php/acces/logout" [QSA,L]

RewriteRule "^([a-zA-Z0-9_/-]*)$" "index.php/$1" [QSA,L]
